.operators {
  color: white;
  background-color: rgb(225, 66, 66);
}
#display:hover {
  border: 2px solid red;
}
button:hover {
  border: 2px solid white;
}
button {
  width: 4.5vw;
  height: 5vh;
  margin-top: 0.7%;
  margin-left: 0.3%;
  font-size: 3vh;
  background-color: rgb(66, 56, 56);
  color: white;
}
#display {
  height: 15vh;
  width: 20vw;
  font-size: 6vh;
  color: black;
  border: 2px solid black;
}
.c,
.res {
  width: 9.5vw;
  color: white;
  background-color: rgb(67, 169, 67);
}
